.navLink {
  color: var(--chakra-colors-white);
  display: flex;
  gap: 10px;
  padding: 10px;
  border-width: 1px;
  border-color: transparent;
  border-radius: 6px;
  text-decoration: none;

  svg {
    stroke-width: 1.5px;
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: var(--chakra-colors-blackAlpha-200);
    border-color: var(--chakra-colors-gray-600);
    text-decoration: none !important;
  }

  &.active {
    text-decoration: none !important;
    background-color: var(--chakra-colors-blackAlpha-200);
    border-color: var(--chakra-colors-gray-700);
    background-color: var(--chakra-colors-blackAlpha-200);
    outline: 1.5px solid var(--chakra-colors-whiteAlpha-500);
  }
}
