.parkingSpaceBox {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: var(--chakra-colors-gray-400);
  gap: 20px;
  padding: 20px;
  background-color: #fff;

  &:hover {
    border-color: var(--chakra-colors-gray-700);
  }
}

.reservedByOther {
  border-color: inherit;
  opacity: 0.7;
  cursor: not-allowed;

  &:hover {
    border-color: inherit;
  }
}

.reservedByMe {
  border-color: var(--chakra-colors-red-400);

  &:hover {
    border-color: var(--chakra-colors-red-600);
  }
}
