.parkingSpaceBox {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: var(--chakra-colors-gray-400);
  gap: 20px;
  padding: 20px;
  background-color: #fff;
}

.reservedByOther {
  border-color: inherit;
  opacity: 0.7;
  cursor: not-allowed;

  &:hover {
    border-color: inherit;
  }
}

.reservedByMe {
  border-color: var(--chakra-colors-red-400);
  outline: 1px solid var(--chakra-colors-red-400);

  background: repeating-linear-gradient(
    45deg,
    var(--chakra-colors-red-50),
    var(--chakra-colors-red-50) 5px,
    white 5px,
    white 10px
  );

  &:hover {
    border-color: var(--chakra-colors-red-600);
  }
}
